[
  {
    "url": "https://api.github.com/repos/Jens-Maus/RaspberryMatic/contents/buildroot-external/patches/occu"
  },
  {
    "url": "https://api.github.com/repos/Homematic-Community/CCU3-Patches/contents/patches"
  }
]